<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.urlbase }}/assets/semantic.css">
  <link rel="stylesheet" href="{{ site.urlbase }}/assets/style.css">
  <link rel="stylesheet" href="{{ site.urlbase }}/assets/rouge.css">
</head>
<body>
<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{{ site.urlbase }}/" class="header item">
        A-Frame Guide
      </a>
      <a href="{{ site.urlbase }}/" class="item">Home</a>
      <div class="ui simple dropdown item">
        Basic <i class="dropdown icon"></i>
        <div class="menu">
          {% assign basic = (site.pages | where: "type", "basic") %}
          {% for page in basic %}
            <a class="item" href="{{ site.urlbase }}{{ page.url }}">{{ page.title }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="ui simple dropdown item">
        Advanced <i class="dropdown icon"></i>
        <div class="menu">
          {% assign advanced = (site.pages | where: "type", "advanced") %}
          {% for page in advanced %}
            <a class="item" href="{{ site.urlbase }}{{ page.url }}">{{ page.title }}</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="ui main text container">
    <h1>{{ page.title }}</h1>
    {{ content }}
  </div>
</body>
</html>
